<template>
  <div class="w-full flex flex-col lg:flex-row lg:grow pt-8 lg:pt-0">
    <div class="grow">
      <div class="lg:sticky lg:top-0">
        <Gallery :images="item.images" />
      </div>
    </div>
    <div
      class="w-full lg:w-2/5 lg:min-w-100 xl:w-5.5/12 xl:min-w-124 border-t lg:border-t-0 lg:border-l border-white"
    >
      <div class="px-7 lg:px-5 pt-5 lg:pb-5">
        <div class="text-xl md:text-4xl uppercase">
          <h1 class="text-red-500">{{ item.art }}</h1>
          <span>+ NFT digital version</span>
        </div>
        <span class="uppercase text-base lg:text-lg mt-5 lg:mt-8 inline-block">
          Edition of {{ item.editionOf }}
        </span>
      </div>

      <div
        class="pt-0 lg:pt-8 px-7 lg:px-5 pb-0 lg:pb-8 lg:border-t border-white"
      >
        <p v-html="item.description" class="mb-4 sm:mb-6" />
        <div class="uppercase mt-4 lg:mt-9">
          <b class="font-normal">size</b>
          <ul class="lg:mt-3 flex text-gray-600">
            <li
              v-for="(size, i) in item.sizes"
              :key="i"
              class="inline-flex"
              :class="i > 0 ? 'before:content-[\'/\'] before:mx-1.5' : ''"
            >
              <input
                type="radio"
                name="offer_id"
                :id="size"
                class="absolute opacity-0 overflow-hidden -m-px w-px h-px input-size"
              />
              <label :for="size">{{ size }}</label>
            </li>
          </ul>
        </div>
        <div class="mt-4 lg:mt-8">
          <span class="inline-block">
            {{ item.price }} {{ $store.state.currencySigns[item.currency] }}
          </span>

          <ul class="lg:mt-3 flex text-gray-600">
            <li
              v-for="(currency, i) in $store.state.currencies"
              :key="i"
              class="inline-flex"
              :class="i > 0 ? 'before:content-[\'/\'] before:mx-1.5' : ''"
            >
              <button
                class="focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black uppercase"
                :class="
                  item.currency === currency ? 'text-white underline' : ''
                "
                type="button"
              >
                {{ currency }}
              </button>
            </li>
          </ul>
        </div>
        <div
          class="flex flex-col sm:flex-row space-y-3 sm:space-y-0 sm:space-x-5 mt-7 lg:mt-12"
        >
          <RedButton :title="'add to bag'" @click="addToBag()" />
          <BlackButton :title="'buy with cryptocurrency'" @click="buy()" />
        </div>
      </div>
      <div class="lg:border-t border-white px-7 lg:px-6 pt-5 lg:pt-6 pb-8">
        <ul class="uppercase space-y-4">
          <li>
            <details>
              <summary
                class="inline-block text-sm md:text-lg list-none select-none after:content-[''] after:bg-[url('/img/arrow-v.svg')] after:bg-no-repeat after:bg-cover after:w-2 after:h-2.5 after:inline-flex after:ml-1.5 focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black"
                :class="shipping ? 'after:rotate-180' : ''"
                @click="shipping = !shipping"
              >
                Shipping
              </summary>
              <p class="text-xs mt-4">
                Worldwide shipping. Delivery times are provided as guidelines
                only. Kindly note that delivery to rural addresses can result in
                longer delivery times. Shipping status can be verified at any
                time by using the tracking number provided via e-mail. If you
                are not satisfied with your order, you have up to 14 days to
                return it. For more details, please read our return policy.
              </p>
            </details>
          </li>
          <li>
            <details>
              <summary
                class="inline-block text-sm md:text-lg list-none select-none after:content-[''] after:bg-[url('/img/arrow-v.svg')] after:w-2 after:h-2.5 after:bg-no-repeat after:bg-cover after:inline-flex after:ml-1.5 focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black"
                :class="packaging ? 'after:rotate-180' : ''"
                @click="packaging = !packaging"
              >
                Packaging
              </summary>
              <p class="text-xs mt-4">
                KRASKA sweaters and cardigans come in handcrafted boxes made
                with high quality thick watercolor paper. On the outside it is
                white as a museum wall. On the inside each box is lined with a
                vibrant print matching that of a purchased item. A certificate
                of authenticity signed by the artist Arkadiy Petrov is attached
                to the lid of each box.
              </p>
            </details>
          </li>
          <li>
            <details>
              <summary
                class="inline-block text-sm md:text-lg list-none select-none after:content-[''] after:bg-[url('/img/arrow-v.svg')] after:w-2 after:h-2.5 after:bg-no-repeat after:bg-cover after:inline-flex after:ml-1.5 focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black"
                :class="sizeGuide ? 'after:rotate-180' : ''"
                @click="sizeGuide = !sizeGuide"
              >
                Size guide
              </summary>
              <div class="mt-4">
                <div class="flex text-xs">
                  <span>Cardigan</span>
                  <ul class="flex text-gray ml-4">
                    <li class="inline-flex">
                      <button
                        class="text-white underline focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black"
                        type="button"
                      >
                        CM
                      </button>
                    </li>
                    <li class="inline-flex before:content-['/'] before:mx-1.5">
                      <button
                        class="focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black"
                        type="button"
                      >
                        INCH
                      </button>
                    </li>
                  </ul>
                </div>
                <table class="border border-indigo-50">
                  <tr class="text-red-500 text-left">
                    <th class="px-5 py-3 border border-indigo-50">size</th>
                    <th class="px-5 py-3 border border-indigo-50">s–m</th>
                    <th class="px-5 py-3 border border-indigo-50">l–xl</th>
                  </tr>
                  <tr>
                    <td class="px-5 py-3 border border-indigo-50">
                      body length
                    </td>
                    <td class="px-5 py-3 border border-indigo-50">71 cm</td>
                    <td class="px-5 py-3 border border-indigo-50">73 cm</td>
                  </tr>
                  <tr>
                    <td class="px-5 py-3 border border-indigo-50">
                      Shoulder Width
                    </td>
                    <td class="px-5 py-3 border border-indigo-50">58 cm</td>
                    <td class="px-5 py-3 border border-indigo-50">62 cm</td>
                  </tr>
                  <tr>
                    <td class="px-5 py-3 border border-indigo-50">
                      Bottom Width
                    </td>
                    <td class="px-5 py-3 border border-indigo-50">56 cm</td>
                    <td class="px-5 py-3 border border-indigo-50">58 cm</td>
                  </tr>
                  <tr>
                    <td class="px-5 py-3 border border-indigo-50">
                      Sleeve Length
                    </td>
                    <td class="px-5 py-3 border border-indigo-50">48 cm</td>
                    <td class="px-5 py-3 border border-indigo-50">49 cm</td>
                  </tr>
                </table>
              </div>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <Popup :show="popup" @close="popup = false">
    <p>
      <span class="text-red-500">notify me </span>
      <span class="text-white">if the item is available </span>
    </p>
    <p class="text-white text-xs mt-1 sm:mt-2">
      enter your email if you want to be notified if the item becomes available
      or return to the collection.
    </p>
    <form class="flex flex-col mt-7 sm:mt-6 space-y-2 sm:space-y-4">
      <div
        class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4"
      >
        <BaseInput
          :model="email"
          :label="'enter your email'"
          :width="'sm:w-125'"
          :error="this.errors.email"
          @update:model="this.updateForm('email', $event)"
        />
        <RedButton :title="'notify me'" :width="'sm:w-60'" @click="notify" />
      </div>
      <BaseButton
        :title="'return to the collection'"
        :borderColor="'border-red-500'"
        :textColor="'text-red-500'"
        :width="'w-full'"
        @click="returnToCollection"
      />
    </form>
  </Popup>
</template>

<script>
import BaseButton from "@/components/controls/base-button.vue";
import BlackButton from "@/components/controls/black-button.vue";
import RedButton from "@/components/controls/red-button.vue";
import BaseInput from "@/components/controls/base-input.vue";
import Gallery from "@/components/img-gallery.vue";
import Popup from "@/components/base-popup.vue";
import { useVuelidate } from "@vuelidate/core";
import { maxLength, required } from "@vuelidate/validators";
import validation from "@/mixins/validation.js";

export default {
  components: {
    BaseButton,
    BlackButton,
    RedButton,
    Gallery,
    Popup,
    BaseInput,
  },
  data: () => ({
    item: {},
    popup: false,
    email: "",
    shipping: false,
    packaging: false,
    sizeGuide: false,
  }),
  methods: {
    addToBag() {},
    buy() {},
    notify() {},
  },
  mixins: [validation],
  setup: () => ({ v$: useVuelidate() }),
  validations: {
    email: {
      required,
      maxLength: maxLength(128),
    },
  },
  created() {
    this.item = {
      images: [
        {
          name: "Blue cardigan",
          path: "/img/blue-cardigan.png",
        },
        {
          name: "Grey sweater",
          path: "/img/grey-sweater.png",
        },
        {
          name: "Blue cardigan",
          path: "/img/blue-cardigan.png",
        },
        {
          name: "Grey sweater",
          path: "/img/grey-sweater.png",
        },
      ],
      art: "Art-à-Porter Cardigan",
      description:
        "Baby Alpaca & Merino wool<br/>ERC-721 Token<br/>instagram AR filters",
      editionOf: 100,
      sizes: ["s-m", "l-xl"],
      price: "2800",
      currency: "usd",
    };
  },
};
</script>

<style>
.input-size:checked + label {
  color: #eef4f5;
  text-decoration: underline;
}
</style>
