<template>
  <Page v-if="step === 1" :title="'Redemption checker'">
    <p class="mb-7">Check if the physical item has already been redeemed</p>
    <form @submit.prevent="submitForm()">
      <BaseInput
        :model="tokenId"
        :label="'Enter token ID'"
        :error="this.errors.tokenId"
        @update:model="this.updateForm('tokenId', $event)"
      />
      <RedButton
        :type="'submit'"
        :title="'check'"
        :class="'mt-5'"
        @click="check"
      />
    </form>
  </Page>
  <Heading v-if="step === -1" :text="'this token id does not exist'" />
  <Heading v-if="step === 2" :text="'physical item redeemed'" />
  <Heading v-if="step === 3" :text="'physical item not redeemed'" />
  <RedButton
    v-if="step !== 1"
    @click="step = 1"
    :type="'submit'"
    :title="'check another token id'"
    :class="'mt-5'"
  />
</template>

<script>
import Page from "@/components/base-page.vue";
import BaseInput from "@/components/controls/base-input.vue";
import RedButton from "@/components/controls/red-button.vue";
import Heading from "@/components/base-heading.vue";
import { required, maxLength } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";
import validation from "@/mixins/validation.js";

export default {
  components: { Page, BaseInput, RedButton, Heading },
  data: () => ({
    step: 1,
    tokenId: "",
  }),
  methods: {
    check() {
      if (this.tokenId === "a") {
        this.step = 2;
      } else if (this.tokenId === "aa") {
        this.step = 3;
      } else {
        this.step = -1;
      }
    },
    submitForm() {
      if (this.checkForm()) {
        this.$emit("submit", {
          tokenId: this.tokenId,
        });
      }
    },
  },
  mixins: [validation],
  setup: () => ({ v$: useVuelidate() }),
  validations: {
    tokenId: {
      required,
      maxLength: maxLength(32),
    },
  },
};
</script>
