<template>
  <Page :title="'redeem nft'">
    <AuthForm />
    <details class="inline-flex text-xs uppercase mt-5">
      <summary
        class="inline-block list-none select-none after:content-[''] after:bg-[url('img/arrow-v.svg')] after:w-2 after:h-2.5 after:bg-no-repeat after:bg-cover after:inline-flex after:ml-1.5 focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black"
      >
        How it works?
      </summary>
      <div class="mt-2 lg:mt-4">
        <p>To redeem your physical item:</p>
        <ul class="pl-4 list-decimal space-y-4">
          <li>Create your KRASKA account or log in into your account</li>
          <li>
            Connect your wallet on which KRASKA NFT is stored (Metamask or
            WalletConnect)
          </li>
          <li>Press redeem button for one or several NFTs</li>
          <li>
            Complete the checkout with your delivery information and address
          </li>
          <li>
            Select your preferred delivery method and pay for the deliveryof the
            item
          </li>
        </ul>
      </div>
    </details>
  </Page>
</template>

<script>
import Page from "@/components/base-page.vue";
import AuthForm from "@/components/user/auth-form.vue";

export default {
  components: { Page, AuthForm },
};
</script>

<style>
p + ul {
  margin-top: 1rem;
}
</style>
