<template>
  <Page
    :title="'connect your wallet'"
    :description="'Form for connecting of ethereum wallet'"
    v-if="init === true"
  >
    <MetamaskConnect
      @access:needed="goToAccessNeeded"
      @connected="goToConnected"
      @signed="goToInit"
    />
    <WalletConnect />
  </Page>
  <Page :title="'Account access needed'" v-else-if="accessNeeded === true">
    <p class="mb-7">please give your wallet permission to continue</p>
    <RedButton :title="'retry'" @click="goToInit" />
  </Page>
  <Page
    :title="'Please sign the message in your wallet to continue'"
    v-else-if="connected === true"
  >
    <p class="mb-7">
      Kraska uses this signature to verify that you are the owner of this
      etherium address
    </p>
    <BlackButton :title="'waiting for the signature...'" :class="'mb-5'" />
    <RedButton :title="'disconnect'" @click="disconnect" />
  </Page>
  <Page
    :title="'kraska nfts are not found on this wallet'"
    v-else-if="nftNotFound === true"
  >
    <RedButton :title="'retry'" @click="goToInit" :class="'my-2 sm:my-5'" />
    <BlackButton :title="'explore the collection'" />
  </Page>
  <Page
    :title="'Select items to redeem'"
    :titleClass="'text-center'"
    v-else-if="selectItems === true"
  >
    <ul>
      <li
        class="flex flex-row justify-between w-135 h-62.5 p-5 border border-white"
        v-for="(item, i) in items"
        :key="i"
      >
        <div
          class="w-60"
          :style="{
            backgroundImage: 'url(' + item.src + ')',
            backgroundPosition: '-52px -47px',
          }"
        />
        <div class="flex flex-col justify-between w-64 p-4.5 tracking-widest">
          <div>
            <p>art: {{ item.art }}</p>
            <p>edition of: {{ item.editionOf }}</p>
            <p>size: {{ item.size }}</p>
            <p>number: {{ item.number }}</p>
          </div>
          <BaseButton
            :title="i % 2 ? 'item selected' : 'select item'"
            :bg-color="i % 2 ? 'black' : ''"
            :border-color="i % 2 ? 'white' : ''"
            @click="select()"
          />
        </div>
      </li>
    </ul>
    <div class="flex flex-row items-center justify-center mt-8">
      <RedButton
        :title="'redeem selected items'"
        :width="'w-60'"
        :class="'mr-5'"
        @click="redeem('selected')"
      />
      <RedButton
        :title="'redeem all items'"
        :width="'w-60'"
        @click="redeem('all')"
      />
    </div>
  </Page>
</template>

<script>
import Page from "@/components/base-page.vue";
import MetamaskConnect from "@/components/wallet-aggregators/metamask-connect.vue";
import WalletConnect from "@/components/wallet-aggregators/wallet-connect.vue";
import RedButton from "@/components/controls/red-button.vue";
import BlackButton from "../../components/controls/black-button.vue";
import { useChain } from "@samatech/vue3-eth";

const { disconnectWallet, onDisconnect } = useChain({ ethChainId: "ropsten" });

export default {
  components: { Page, MetamaskConnect, WalletConnect, BlackButton, RedButton },
  data: () => ({
    init: true,
    connected: false,
    accessNeeded: false,
    nftNotFound: false,
    selectItems: false,
    items: {
      type: Array,
      default: [],
    },
  }),
  methods: {
    hidePages() {
      this.init = false;
      this.connected = false;
      this.accessNeeded = false;
      this.nftNotFound = false;
      this.selectItems = false;
    },
    goToInit() {
      this.hidePages();
      this.init = true;
    },
    goToAccessNeeded() {
      this.hidePages();
      this.accessNeeded = true;
    },
    goToConnected() {
      this.hidePages();
      this.connected = true;
    },
    async disconnect() {
      await disconnectWallet();
    },
    fillItems() {
      this.items = [
        {
          src: "/img/rose-cardigan.png",
          art: "a porter cardigan",
          editionOf: 100,
          size: "l",
          number: 91,
        },
        {
          src: "/img/green-cardigan.png",
          art: "a porter cardigan",
          editionOf: 100,
          size: "l",
          number: 93,
        },
      ];
    },
    select(item) {},
    redeem(quantity) {},
  },
  mounted() {
    onDisconnect(() => {
      console.log("Disconnected from blockchain");
    });
  },
};
</script>
