<template>
  <div :class="switchClass" class="mb-2 md:mb-7 cursor-pointer">
    <ul class="flex mt-1.5 lg:mt-2.5">
      <li class="inline-flex">
        <button
          type="button"
          @click="switchSignUp"
          class="uppercase text-sm lg:text-lg focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black"
          :class="isSignUp ? 'underline text-white' : ''"
        >
          sign up
        </button>
      </li>
      <li class="inline-flex before:content-['/'] before:mx-1.5 before:text-xl">
        <button
          type="button"
          @click="switchSignIn"
          class="uppercase text-sm lg:text-lg focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black"
          :class="isSignUp ? '' : 'underline text-white'"
        >
          sign in
        </button>
      </li>
    </ul>
  </div>

  <UserForm
    v-if="isSignUp"
    :first-name="firstName"
    :last-name="lastName"
    :email="email"
    :password="password"
    :password-confirmation="passwordConfirmation"
    :submit-title="'sign up'"
    @submit="signUp($event)"
  />
  <form v-else class="flex flex-col space-y-4">
    <BaseInput
      :label="'email'"
      :model="email"
      :error="this.errors.email"
      @update:model="this.updateForm('email', $event)"
    />
    <BaseInput
      :label="'password'"
      :model="password"
      :error="this.errors.password"
      @update:model="this.updateForm('password', $event)"
    />
    <RedButton
      :title="(formInvalid ? 'fill all the fields to ' : '') + 'sign in'"
      :width="'w-full'"
      @click="signIn"
    />
  </form>
</template>

<script>
import BaseInput from "@/components/controls/base-input.vue";
import RedButton from "@/components/controls/red-button.vue";
import UserForm from "@/components/user/user-form.vue";
import { required, maxLength } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";
import validation from "@/mixins/validation.js";

const SIGN_UP = "sign up";
const SIGN_IN = "sign in";

export default {
  name: "AuthForm",
  emits: ["switch"],
  components: { BaseInput, RedButton, UserForm },
  props: {
    switchClass: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    currentTab: SIGN_UP,
    firstName: "",
    lastName: "",
    email: "",
    password: "",
    passwordConfirmation: "",
  }),
  computed: {
    isSignUp() {
      return this.currentTab === SIGN_UP;
    },
  },
  methods: {
    switchSignUp() {
      this.currentTab = SIGN_UP;
      this.$emit("switch", SIGN_UP);
    },
    switchSignIn() {
      this.currentTab = SIGN_IN;
      this.$emit("switch", SIGN_IN);
    },
    signUp($event) {
      return false;
    },
    signIn() {
      if (this.checkForm()) {
      }
    },
  },
  mixins: [validation],
  setup: () => ({ v$: useVuelidate() }),
  validations: {
    email: {
      required,
      maxLength: maxLength(128),
    },
    password: {
      required,
      maxLength: maxLength(50),
    },
  },
};
</script>
