<template>
  <form
    class="flex flex-col mt-6 lg:mt-8 space-y-4 lg:space-y-6"
    @submit.prevent="submitForm()"
  >
    <InputBag>
      <BaseInput
        :label="'first name'"
        :model="firstName"
        :error="this.errors.firstName"
        @update:model="updateForm('firstName', $event)"
      />
      <BaseInput
        :label="'last name'"
        :model="lastName"
        :error="this.errors.lastName"
        @update:model="updateForm('lastName', $event)"
      />
    </InputBag>
    <BaseInput
      :label="'email'"
      :model="email"
      :error="this.errors.email"
      @update:model="updateForm('email', $event)"
    />
    <BaseInput
      :type="'password'"
      :label="'password'"
      :model="password"
      :error="this.errors.password"
      @update:model="updateForm('password', $event)"
    />
    <BaseInput
      v-if="newPassword"
      :type="'password'"
      :label="'new password'"
      :model="newPassword"
      :error="this.errors.newPassword"
      @update:model="updateForm('newPassword', $event)"
    />
    <BaseInput
      :type="'password'"
      :label="'confirm password'"
      :model="passwordConfirmation"
      :error="this.errors.passwordConfirmation"
      @update:model="updateForm('passwordConfirmation', $event)"
    />
    <InputBag>
      <BlackButton
        v-if="cancelButton"
        :type="'button'"
        :title="'cancel'"
        @click="$emit('cancel')"
      />
      <RedButton
        :type="'submit'"
        :title="(formInvalid ? 'fill all the fields to ' : '') + submitTitle"
        :width="'w-full'"
        :errorSummary="errorSummary"
      />
    </InputBag>
  </form>
</template>

<script>
import InputBag from "@/components/input-bag.vue";
import BaseInput from "@/components/controls/base-input.vue";
import BlackButton from "@/components/controls/black-button.vue";
import RedButton from "@/components/controls/red-button.vue";
import { required, maxLength, requiredIf } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";
import validation from "@/mixins/validation.js";

export default {
  name: "SignUpForm",
  emits: ["submit"],
  components: { InputBag, BaseInput, BlackButton, RedButton },
  props: {
    cancelButton: {
      type: Boolean,
      default: false,
    },
    submitTitle: {
      type: String,
      default: "save",
    },
    firstName: {
      type: String,
    },
    lastName: {
      type: String,
    },
    email: {
      type: String,
    },
    password: {
      type: String,
    },
    newPassword: {
      type: String,
    },
    passwordConfirmation: {
      type: String,
    },
  },
  data: () => ({
    localData: {},
  }),
  methods: {
    updateForm(key, val) {
      this.localData[key] = val;
      this.validateForm(this.localData);
    },
    submitForm() {
      if (this.checkForm()) {
        this.$emit("submit", this.localData);
      }
    },
  },
  mixins: [validation],
  setup: () => ({ v$: useVuelidate() }),
  validations: {
    localData: {
      firstName: {
        required,
        maxLength: maxLength(64),
      },
      lastName: {
        required,
        maxLength: maxLength(64),
      },
      email: {
        required,
        maxLength: maxLength(128),
      },
      password: {
        required,
        maxLength: maxLength(50),
      },
      newPassword: {
        required: requiredIf(function () {
          return this.newPassword;
        }),
        maxLength: maxLength(50),
      },
      passwordConfirmation: {
        required,
        maxLength: maxLength(50),
      },
    },
  },
  created() {
    [
      "firstName",
      "lastName",
      "email",
      "password",
      "newPassword",
      "passwordConfirmation",
    ].forEach((key) => {
      if (this[key] !== "") {
        this.localData[key] = this[key];
      }
    });
  },
};
</script>
