<template>
  <svg
    class="w-2.5 sm:w-4 h-2.5 sm:h-4 cursor-pointer"
    :class="cssClass"
    :width="localWidth + 'px'"
    :height="localHeight + 'px'"
    :viewBox="'0 0 ' + localWidth + ' ' + localHeight"
    :style="'transform: rotate(' + rotate + 'deg) scale(' + scale || 1 + ');'"
    xmlns="http://www.w3.org/2000/svg"
    @click="$emit('click')"
  >
    <path
      d="M1 16L16 1M1.41421 1L16.4142 16"
      stroke="#EEF4F5"
      stroke-width="2"
    />
  </svg>
</template>

<script>
import svg from "@/mixins/svg.js";

export default {
  name: "Cross",
  props: {
    width: {
      type: Number,
      default: 18,
    },
    height: {
      type: Number,
      default: 17,
    },
  },
  mixins: [svg],
};
</script>
