<template>
  <div class="relative cursor-pointer w-3.5 h-2" @click="$emit('click')">
    <svg
      class="absolute left-0 bottom-0"
      width="7"
      height="6"
      viewBox="0 0 7 6"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line
        x1="0.624695"
        y1="1.21968"
        x2="5.62479"
        y2="5.21975"
        stroke="#2EDFBC"
        stroke-width="2"
      />
    </svg>
    <svg
      class="absolute bottom-0"
      style="right: 1px"
      width="9"
      height="9"
      viewBox="0 0 9 9"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line
        x1="1.29289"
        y1="8.29302"
        x2="8.29302"
        y2="1.29289"
        stroke="#2EDFBC"
        stroke-width="2"
      />
    </svg>
  </div>
</template>

<script>
import svg from "@/mixins/svg.js";

export default {
  name: "Check",
  mixins: [svg],
};
</script>
