<template>
  <svg
    :class="cssClass"
    :width="localWidth + 'px'"
    :height="localHeight + 'px'"
    :viewBox="'0 0 ' + localWidth + ' ' + localHeight"
    :style="'transform: rotate(' + rotate + 'deg) scale(' + scale || 1 + ');'"
    :fill="color"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3.39683 2.26891L3.39683 10L4.60317 10L4.60317 2.26891L4.95238 2.26891L8 4.95798L8 3.51541L4 -4.76995e-08L4.19208e-08 3.51541L5.91234e-08 4.95798L3.04762 2.26891L3.39683 2.26891Z"
      :fill="color"
    />
  </svg>
</template>

<script>
import svg from "@/mixins/svg.js";

export default {
  name: "Arrow",
  props: {
    color: {
      type: String,
      default: "white",
    },
    width: {
      type: Number,
      default: 8,
    },
    height: {
      type: Number,
      default: 10,
    },
  },
  mixins: [svg],
};
</script>
