<template>
  <Page
    v-if="items.length === 0"
    :title="'your bag is empty'"
    :titleColor="'white'"
    :class="'-mt-12 lg:mt-56 mx-auto'"
  >
    <BlackButton
      :title="'return to the collection'"
      :border-color="'border-red-500'"
      :text-color="'text-red-500'"
      :class="'mt-3'"
    />
  </Page>
  <!-- список товаров -->

  <ul class="hidden sm:block w-194 h-screen flex-grow overflow-y-scroll">
    <li
      class="relative flex flex-row w-auto h-95.5"
      :class="
        (items.length === 1 ? 'justify-center' : 'justify-start') +
        (i > 0 ? ' border-t border-white' : '')
      "
      v-for="(item, i) in items"
      :key="i"
    >
      <img
        :class="
          items.length === 1 ? 'w-145' : items.length === 2 ? 'w-98' : 'w-64'
        "
        :src="item.src"
      />
      <div
        class="w-48 text-white text-xs tracking-widest pt-5 pl-5 w-full"
        :class="items.length === 1 ? 'absolute left-5' : ''"
      >
        <p>{{ item.art }}</p>
        <p>edition of {{ item.editionOf }}</p>
        <p>size {{ item.size }}</p>
        <p>{{ item.price }}$</p>
      </div>
      <Cross class="absolute right-5 top-5" @click="deleteItem(item)" />
    </li>
  </ul>
  <div
    class="flex flex-col justify-between sm:flex-grow w-full lg:w-135 h-screen sm:border-l sm:border-white text-white"
  >
    <div
      class="flex flex-row justify-between items-end sm:items-center h-20 px-5 pb-4 sm:pb-0"
    >
      <Heading :text="'bag'" />
      <p class="sm:pr-4 text-xs sm:text-lg">total {{ total }}$</p>
    </div>
    <div v-if="step === 0"></div>
    <div
      class="flex flex-col-reverse sm:flex-col flex-grow text-xs"
      v-else-if="step === 1"
    >
      <Steps :stepNames="stepNames" :step="step" />

      <div>
        <p class="mt-2 ml-5 text-xxs sm:text-xs">
          sign in if you already have an account
        </p>
        <Step :stepNames="stepNames" :step="step" />
        <form
          class="pb-4 pl-5 pr-5 sm:pr-10 space-y-3 sm:space-y-5"
          @submit.prevent="submitUserDataForm()"
        >
          <div
            class="flex flex-col sm:flex-row space-y-5 sm:space-y-0 sm:space-x-5 mb-5"
          >
            <BaseInput
              :model="userData.name"
              :label="'name'"
              :width="'w-68 sm:w-60'"
              :error="this.errors.name"
              @update:model="userDataFormUpdate('name', $event)"
            />
            <BaseInput
              :model="userData.surname"
              :label="'surname'"
              :width="'w-68 sm:w-60'"
              :error="this.errors.surname"
              @update:model="userDataFormUpdate('surname', $event)"
            />
          </div>
          <BaseInput
            :model="userData.email"
            :label="'email'"
            :width="'w-68 sm:w-full'"
            :error="this.errors.email"
            @update:model="userDataFormUpdate('email', $event)"
          />
          <BaseCheckbox
            :class="'text-xxs sm:text-xs'"
            :label="'save for later. create an account'"
          />
          <RedButton
            :type="'submit'"
            :width="'w-68 sm:w-full'"
            :title="formInvalid ? 'fill all the fields ' : 'confirm'"
            :errorSummary="errorSummary"
          />
        </form>
      </div>
    </div>
    <div
      class="flex flex-col-reverse sm:flex-col flex-grow text-xs"
      v-else-if="step === 2"
    >
      <Steps :stepNames="stepNames" :step="step" />
      <div>
        <Step :stepNames="stepNames" :step="step" />
        <AddressForm
          :class="'pb-4 pl-5 pr-5 sm:pr-10'"
          :address="address"
          :spaceY="'space-y-3 sm:space-y-5'"
          @submit="submitAddressForm"
        />
      </div>
    </div>
    <div
      class="flex flex-col-reverse sm:flex-col flex-grow text-xs"
      v-else-if="step === 3"
    >
      <Steps :stepNames="stepNames" :step="step" />
      <div>
        <Step :stepNames="stepNames" :step="step" />
        <form
          class="pb-4 pl-5 pr-5 sm:pr-10 space-y-3 sm:space-y-5"
          @submit.prevent="submitBillingForm()"
        >
          <BaseCheckbox :label="'use delivery address as billing address'" />
          <InputBag>
            <BaseInput
              :model="billingData.name"
              :label="'first name'"
              :width="'sm:w-1/2'"
              :error="this.errors.name"
              @update:model="billingDataFormUpdate('name', $event)"
            />
            <BaseInput
              :model="billingData.surname"
              :label="'last name'"
              :width="'sm:w-1/2'"
              :error="this.errors.surname"
              @update:model="billingDataFormUpdate('surname', $event)"
            />
          </InputBag>
          <BaseSelect
            :model="billingData.country"
            :options="$store.state.countries"
            :emptyValue="'COUNTRY'"
            :error="this.errors.country"
            @update:model="billingDataFormUpdate('country', $event)"
          />
          <InputBag>
            <BaseInput
              :model="billingData.city"
              :label="'city'"
              :width="'sm:w-1/2'"
              :error="this.errors.city"
              @update:model="billingDataFormUpdate('city', $event)"
            />
            <BaseInput
              :model="billingData.zip"
              :label="'zip-code'"
              :width="'sm:w-1/2'"
              :error="this.errors.zip"
              @update:model="billingDataFormUpdate('zip', $event)"
            />
          </InputBag>
          <BaseInput
            :model="billingData.fullAddress"
            :label="'full address'"
            :error="this.errors.fullAddress"
            @update:model="billingDataFormUpdate('fullAddress', $event)"
          />
          <BaseInput
            :model="billingData.phone"
            :label="'phone number'"
            :error="this.errors.phone"
            @update:model="billingDataFormUpdate('phone', $event)"
          />
          <BlackButton
            :type="'submit'"
            :class="'mt-1'"
            :width="'w-full'"
            :title="formInvalid ? 'fill all the fields to proceed' : 'save'"
            :errorSummary="errorSummary"
          />
        </form>
      </div>
    </div>
    <div
      class="flex flex-col-reverse sm:flex-col flex-grow text-xs"
      v-else-if="step === 4"
    >
      <Steps :stepNames="stepNames" :step="step" />
      <div>
        <Step :stepNames="stepNames" :step="step" />
        <form
          class="pb-4 pl-5 pr-5 sm:pr-10 space-y-3 sm:space-y-5"
          @submit.prevent="submitDeliveryForm()"
        >
          <BaseRadio
            v-for="(delivery, i) in deliveries"
            :key="i"
            :name="'delivery'"
            :value="delivery.name"
            :label="
              delivery.name +
              ' / ' +
              delivery.price +
              '$, ' +
              delivery.term +
              ' shipping'
            "
            @update="deliveryData = $event"
          />
          <RedButton :type="'submit'" :title="'proceed'" :width="'w-full'" />
        </form>
      </div>
    </div>
    <div
      class="flex flex-col-reverse sm:flex-col flex-grow text-xs"
      v-else-if="step === 5"
    >
      <Steps :stepNames="stepNames" :step="step" />
      <div>
        <Step :stepNames="stepNames" :step="step" />
        <form
          class="pb-4 pl-5 pr-5 sm:pr-10 space-y-3 sm:space-y-5"
          @submit.prevent="submitPaymentMethodForm()"
        >
          <BaseRadio
            :model="paymentMethodData.bankCard"
            :label="'bank card'"
            @update:model="paymentMethodData.bankCard = $event"
          />
          <BaseRadio
            :model="paymentMethodData.paypal"
            :label="'paypal'"
            @update:model="paymentMethodData.paypal = $event"
          />
          <BaseRadio
            :model="paymentMethodData.applePay"
            :label="'apple pay'"
            @update:model="paymentMethodData.applePay = $event"
          />
          <BaseRadio
            :model="paymentMethodData.googlePay"
            :label="'google pay'"
            @update:model="paymentMethodData.googlePay = $event"
          />
          <RedButton :type="'submit'" :title="'proceed'" :width="'w-full'" />
        </form>
      </div>
    </div>
    <div
      class="flex flex-col-reverse sm:flex-col flex-grow text-xs"
      v-else-if="step === 6"
    >
      <Steps :stepNames="stepNames" :step="step" />
      <div>
        <Step :stepNames="stepNames" :step="step" />
        <form
          class="pb-4 pl-5 pr-5 sm:pr-10 space-y-3 sm:space-y-5"
          @submit.prevent="submitPaymentForm()"
        >
          <BaseInput
            :model="paymentData.cardNumber"
            :label="'card number'"
            @update:model="paymentData.cardNumber = $event"
          />
          <BaseInput
            :model="paymentData.cardholderName"
            :label="'cardholder name'"
            @update:model="paymentData.cardholderName = $event"
          />
          <InputBag>
            <BaseInput
              :model="paymentData.expirationDate"
              :label="'expiration date'"
              :width="'sm:w-1/2'"
              @update:model="paymentData.expirationDate = $event"
            />
            <BaseInput
              :model="paymentData.cvv"
              :label="'cvv'"
              :width="'sm:w-1/2'"
              @update:model="paymentData.cvv = $event"
            />
          </InputBag>
          <div class="text-xxs sm:text-xs">
            <p>item <span class="text-red-500">2800$</span></p>
            <p>delivery <span class="text-red-500">120$</span></p>
            <p>
              total <span class="text-red-500">{{ total }}$</span>
            </p>
          </div>
          <RedButton :type="'submit'" :title="'pay now'" :width="'w-full'" />
          <BaseCheckbox
            :label="'By placing your order, you accept our Terms and Conditions and confirm that you have read our Privacy Policy.'"
          />
        </form>
      </div>
    </div>
    <!-- подвал -->
    <div class="text-xxs border-t border-white h-20 w-auto p-4">
      <details>
        <summary class="cursor-pointer list-none">
          Need help with your order?
        </summary>
        <p>help</p>
      </details>
      <details>
        <summary class="cursor-pointer list-none">Shipping methods</summary>
        <p>methods</p>
      </details>
    </div>
  </div>
</template>

<script>
import Page from "@/components/base-page.vue";
import Heading from "@/components/base-heading.vue";
import BlackButton from "@/components/controls/black-button.vue";
import RedButton from "@/components/controls/red-button.vue";
import BaseInput from "@/components/controls/base-input.vue";
import BaseCheckbox from "@/components/controls/base-checkbox.vue";
import BaseRadio from "@/components/controls/base-radio.vue";
import BaseSelect from "@/components/controls/base-select.vue";
import InputBag from "@/components/input-bag.vue";
import Cross from "@/components/svg/base-cross.vue";
import Steps from "@/pages/user-profile/bag/steps.vue";
import Step from "@/pages/user-profile/bag/step.vue";
import AddressForm from "@/pages/user-profile/address-form.vue";
import { requiredIf, maxLength, minLength } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";
import validation from "@/mixins/validation.js";

export default {
  components: {
    Page,
    Steps,
    Step,
    Heading,
    BlackButton,
    RedButton,
    BaseInput,
    BaseCheckbox,
    BaseRadio,
    BaseSelect,
    InputBag,
    Cross,
    AddressForm,
  },
  data: () => ({
    stepNames: {
      0: "bag overview",
      1: "personal information",
      2: "delivery address",
      3: "billing address",
      4: "delivery method",
      5: "payment method",
      6: "payment",
    },
    items: [],
    deleted: [], // костыль
    step: 2,
    deliveries: [
      {
        name: "dhl",
        price: "120",
        term: "1-3 days",
      },
      {
        name: "tnt",
        price: "10",
        term: "1-3 days",
      },
    ],
    userData: {
      name: "",
      surname: "",
      email: "",
    },
    address: {
      country: "",
      city: "",
      fullAddress: "",
      zip: "",
      phone: "",
    },
    billingData: {
      name: "",
      surname: "",
      country: "",
      city: "",
      fullAddress: "",
      zip: "",
      phone: "",
    },
    delivery: "",
    paymentMethodData: {
      bankCard: false,
      paypal: false,
      applePay: false,
      googlePay: false,
    },
    paymentData: {
      cardNumber: "",
      cardholderName: "",
      expirationDate: "",
      cvv: "",
    },
  }),
  validations: {
    userData: {
      name: {
        required: requiredIf(function () {
          return this.step === 1;
        }),
        maxLength: maxLength(32),
      },
      surname: {
        required: requiredIf(function () {
          return this.step === 1;
        }),
        maxLength: maxLength(32),
      },
      email: {
        required: requiredIf(function () {
          return this.step === 1;
        }),
        maxLength: maxLength(128),
      },
    },
    billingData: {
      name: {
        required: requiredIf(function () {
          return this.step === 3;
        }),
        maxLength: maxLength(32),
      },
      surname: {
        required: requiredIf(function () {
          return this.step === 3;
        }),
        maxLength: maxLength(32),
      },
      country: {
        required: requiredIf(function () {
          return this.step === 3;
        }),
        maxLength: maxLength(32),
      },
      city: {
        required: requiredIf(function () {
          return this.step === 3;
        }),
        maxLength: maxLength(32),
      },
      fullAddress: {
        required: requiredIf(function () {
          return this.step === 3;
        }),
        maxLength: maxLength(40),
      },
      zip: {
        required: requiredIf(function () {
          return this.step === 3;
        }),
        minLength: minLength(6),
        maxLength: maxLength(6),
      },
      phone: {
        required: requiredIf(function () {
          return this.step === 3;
        }),
        maxLength: maxLength(10),
      },
    },
  },
  methods: {
    userDataFormUpdate(key, val) {
      this.userData[key] = val;
      this.validateForm(this.userData);
    },
    billingDataFormUpdate(key, val) {
      this.billingData[key] = val;
      this.validateForm(this.billingData);
    },
    deleteItem(item) {
      const deletedIndex = this.deleted.indexOf(item);
      if (deletedIndex === -1) {
        const index = this.items.indexOf(item);
        this.items.splice(index, 1);
        this.deleted.push(item);
      }
    },
    submitUserDataForm() {
      if (this.checkForm()) {
        this.step = 2;
      }
    },
    submitAddressForm() {
      this.step = 3;
    },
    submitBillingForm() {
      if (this.checkForm()) {
        this.step = 4;
      }
    },
    submitDeliveryForm() {
      this.step = 5;
    },
    submitPaymentMethodForm() {
      this.step = 6;
    },
    submitPaymentForm() {},
  },
  mixins: [validation],
  setup: () => ({ v$: useVuelidate() }),
  mounted() {
    this.items = [
      {
        src: "/img/blue-cardigan.png",
        art: "art a porter cardigan + nft digital version",
        editionOf: 100,
        size: "l-xl",
        price: 2880,
      },
      {
        src: "/img/grey-sweater.png",
        art: "art a porter cardigan + nft digital version",
        editionOf: 100,
        size: "l-xl",
        price: 2881,
      },
      {
        src: "/img/blue-cardigan.png",
        art: "art a porter cardigan + nft digital version",
        editionOf: 100,
        size: "l-xl",
        price: 2882,
      },
      {
        src: "/img/grey-sweater.png",
        art: "art a porter cardigan + nft digital version",
        editionOf: 100,
        size: "l-xl",
        price: 2883,
      },
    ];
  },
  computed: {
    total() {
      let total = 0;
      this.items.forEach((item) => {
        total += item.price;
      });
      return total;
    },
  },
};
</script>

<style scoped>
ul::-webkit-scrollbar {
  display: none; /* Chrome */
}

ul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
</style>
