<template>
  <div class="flex flex-col">
    <div
      v-for="s in steps"
      :step="s"
      :key="s"
      class="flex flex-row justify-between border-t border-green-300 py-2 pl-5 pr-5 sm:pr-10 text-xxs sm:text-xs"
    >
      <p class="text-green-300">
        <span>step {{ s }} of 6</span> /
        {{ stepNames[s] }}
      </p>
      <Check class="border-green-300" />
    </div>
  </div>
</template>

<script>
import Check from "@/components/svg/base-check.vue";

export default {
  name: "Steps",
  components: { Check },
  props: {
    step: {
      type: Number,
      default: 1,
    },
    stepNames: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    steps: [],
  }),
  created() {
    for (let i = 1; i < this.step; i++) {
      this.steps.push(i);
    }
  },
};
</script>
