<template>
  <div class="border-t border-white mb-6 sm:mb-7 pt-2 px-5 text-xxs sm:text-xs">
    <p>
      <span class="text-red-500">step {{ step }} of 6</span> /
      {{ stepNames[step] }}
    </p>
  </div>
</template>

<script>
export default {
  name: "Step",
  props: {
    step: {
      type: Number,
      default: 1,
    },
    stepNames: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
