<template>
  <Page>
    <Switch />
    <div v-if="currentTab === 'info'">
      <div class="block mb-7 text-white">
        <p class="text-xxs mb-2">personal details</p>
        <p :class="'text-lg'">
          {{ fullName }}
        </p>
        <p :class="'text-lg'">{{ email }}</p>
      </div>
      <div class="block mt-10 text-white">
        <p class="text-xxs mb-2">password`</p>
        <p :class="'text-lg'">*************</p>
      </div>
      <RedButton
        :class="'mb-5 mt-7'"
        :title="'edit information'"
        @click="currentTab = 'edit'"
      />
      <BlackButton :title="'log out'" @click="logOut" />
    </div>
    <div v-else>
      <UserForm
        :first-name="firstName"
        :last-name="lastName"
        :email="email"
        :password="currentPassword"
        :new-password="newPassword"
        :password-confirmation="passwordConfirmation"
        :submit-title="'save changes'"
        :cancel-button="true"
        @cancel="currentTab = 'info'"
        @submit="submit($event)"
      />
    </div>
  </Page>
</template>

<script>
import Page from "@/components/base-page.vue";
import BlackButton from "@/components/controls/base-button.vue";
import RedButton from "@/components/controls/red-button.vue";
import Switch from "@/pages/user-profile/switch.vue";
import UserForm from "@/components/user/user-form.vue";

export default {
  components: { Page, BlackButton, RedButton, Switch, UserForm },
  data: () => ({
    currentTab: "info",
    firstName: "",
    lastName: "",
    email: "",
    currentPassword: "",
    newPassword: "",
    passwordConfirmation: "",
  }),
  methods: {
    edit() {},
    logOut() {},
    addAddress() {},
    submit($event) {
      console.log($event);
    },
  },
  created() {
    this.firstName = "arkadiy";
    this.lastName = "petrov";
    this.email = "arkpetrov@gmail.com";
    this.currentPassword = "sfergerhreth";
    this.newPassword = "xcsergrth";
    this.passwordConfirmation = "xcsergrth";
  },
  computed: {
    fullName() {
      return this.firstName + " " + this.lastName;
    },
  },
};
</script>
