<template>
  <form :class="'flex flex-col ' + spaceY" @submit.prevent="submitForm()">
    <BaseSelect
      :label="'COUNTRY'"
      :model="localAddress.country"
      :options="$store.state.countries"
      :error="this.errors.country"
      @update:model="updateForm('country', $event)"
    />
    <BaseInput
      :label="'city'"
      :model="localAddress.city"
      :error="this.errors.city"
      @update:model="updateForm('city', $event)"
    />
    <BaseInput
      :label="'full address'"
      :model="localAddress.fullAddress"
      :error="this.errors.fullAddress"
      @update:model="updateForm('fullAddress', $event)"
    />
    <BaseInput
      :label="'zip-code'"
      :model="localAddress.zip"
      :error="this.errors.zip"
      @update:model="updateForm('zip', $event)"
    />
    <BaseInput
      :label="'phone number'"
      :model="localAddress.phone"
      :error="this.errors.phone"
      @update:model="updateForm('phone', $event)"
    />
    <BlackButton
      :type="'submit'"
      :title="formInvalid ? 'fill all the fields to proceed' : 'save'"
      :class="'mt-1'"
      :width="'w-full'"
      :errorSummary="errorSummary"
    />
  </form>
</template>

<script>
import BlackButton from "@/components/controls/black-button.vue";
import BaseSelect from "@/components/controls/base-select.vue";
import BaseInput from "@/components/controls/base-input.vue";
import { required, maxLength, minLength } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";
import validation from "@/mixins/validation.js";

export default {
  name: "AddressForm",
  emits: ["submit"],
  components: { BlackButton, BaseInput, BaseSelect },
  props: {
    address: {
      type: Object,
      default: () => {
        return {
          country: "",
          fullAddress: "",
          city: "",
          zip: "",
          phone: "",
        };
      },
    },
    spaceY: {
      type: String,
      default: "space-y-2",
    },
  },
  data: () => ({
    localAddress: {},
  }),
  validations: {
    localAddress: {
      country: {
        required,
        maxLength: maxLength(32),
      },
      city: {
        required,
        maxLength: maxLength(32),
      },
      fullAddress: {
        required,
        maxLength: maxLength(40),
      },
      zip: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(6),
      },
      phone: {
        required,
        maxLength: maxLength(10),
      },
    },
  },
  methods: {
    updateForm(key, val) {
      this.localAddress[key] = val;
      this.validateForm(this.localAddress);
    },
    submitForm() {
      if (this.checkForm()) {
        this.$emit("submit");
      }
    },
  },
  mixins: [validation],
  setup: () => ({ v$: useVuelidate() }),
  created() {
    this.localAddress["country"] = this.address["country"];
    ["fullAddress", "city", "zip", "phone"].forEach((key) => {
      if (this.address[key] !== "") {
        this.localAddress[key] = this.address[key];
      }
    });
  },
};
</script>
