<template>
  <Page>
    <Switch />
    <div v-if="currentTab === 'initial'">
      <p class="text-xs sm:text-lg">Save a new address for easier checkout</p>
      <RedButton :class="'mt-6'" :title="'add address'" @click="newAddress()" />
    </div>
    <AddressForm
      v-if="currentTab === 'addAddress'"
      :address="address"
      :spaceY="'space-y-5'"
      @submit="addAddress"
    />
    <AddressForm
      v-if="currentTab === 'editAddress'"
      :address="address"
      :spaceY="'space-y-5'"
      @submit="saveAddress"
    />
    <div v-if="currentTab === 'addressInfo'">
      <div class="block mb-7 text-white">
        <p class="text-xxxs sm:text-xxs mb-2">address</p>
        <p :class="'text-xs sm:text-lg'">
          {{ address.country }}, {{ address.city }}, {{ address.fullAddress }},
          {{ address.zip }}
        </p>
      </div>
      <div class="block mt-8 sm:mt-10 text-white">
        <p class="text-xxxs sm:text-xxs mb-2">phone number</p>
        <p :class="'text-xs sm:text-lg'">{{ address.phone }}</p>
      </div>
      <RedButton
        :class="'mb-8 sm:mb-10 mt-5 sm:mt-7'"
        :title="'edit information'"
        @click="currentTab = 'editAddress'"
      />
      <div class="block mb-5 sm:mb-6 text-white">
        <p class="text-xxxs sm:text-xxs mb-2">new address</p>
        <p :class="'sm:text-lg'">Save a new address for easier checkout</p>
      </div>
      <BlackButton :title="'add address'" @click="newAddress()" />
    </div>
  </Page>
</template>

<script>
import Page from "@/components/base-page.vue";
import Switch from "@/pages/user-profile/switch.vue";
import AddressForm from "@/pages/user-profile/address-form.vue";
import RedButton from "@/components/controls/red-button.vue";
import BlackButton from "@/components/controls/black-button.vue";

export default {
  components: { Page, Switch, AddressForm, RedButton, BlackButton },
  data: () => ({
    currentTab: "initial",
    countries: [],
    addresses: [],
    address: {},
  }),
  methods: {
    addAddress() {
      this.currentTab = "initial";
    },
    saveAddress() {
      this.currentTab = "initial";
    },
    newAddress() {
      this.address = {
        country: "",
        city: "",
        fullAddress: "",
        zip: "",
        phone: "",
      };
      this.addresses += this.address;
      this.currentTab = "addAddress";
    },
  },
};
</script>
