<template>
  <Page>
    <Switch />
    <ul>
      <li
        class="flex flex-col sm:w-full mb-10"
        v-for="(order, i) in orders"
        :key="i"
      >
        <!-- order summary -->
        <div
          class="flex flex-row justify-between text-xs sm:text-lg mb-1.5 sm:mb-4"
        >
          <p>order #{{ order.number }}&nbsp;/&nbsp;{{ order.date }}</p>
          <p>total {{ order.total }}</p>
        </div>
        <!-- order items list -->
        <ul>
          <li
            class="flex flex-col sm:flex-row justify-between w-full h-96 sm:h-72 pt-3 px-4 pb-5 sm:p-6 border-l border-t border-r border-white"
            v-for="(item, i) in order.items"
            :key="i"
          >
            <div class="block sm:hidden text-xxxs leading-none">
              <p>art: {{ item.art }}</p>
              <p>edition of: {{ item.editionOf }}</p>
              <p>size: {{ item.size }}</p>
              <p>number: {{ item.number }}</p>
            </div>
            <div class="flex flex-row justify-center sm:w-72">
              <img class="h-60 sm:h-auto" :src="item.src" />
            </div>
            <div class="block sm:hidden text-xxxs leading-none">
              {{ item.price }}
            </div>
            <div
              class="hidden sm:block flex flex-col justify-between w-64 p-4.5 tracking-widest"
            >
              <div>
                <p>art: {{ item.art }}</p>
                <p>edition of: {{ item.editionOf }}</p>
                <p>size: {{ item.size }}</p>
              </div>
              <div>
                {{ item.price }}
              </div>
            </div>
          </li>
        </ul>
        <!-- order delivery summary -->
        <div
          class="text-xxxs leading-none sm:text-xs sm:leading-4 pt-3 px-4 pb-4 sm:p-6 border border-white"
        >
          <p>track num #{{ order.delivery.trackNum }}</p>
          <p>
            {{ order.delivery.address.street }},
            {{ order.delivery.address.house }}, apt
            {{ order.delivery.address.apt }},
            {{ order.delivery.address.postalCode }}
          </p>
          <p>
            {{ order.delivery.operator }} delivery {{ order.delivery.price }}
          </p>
        </div>
      </li>
    </ul>
  </Page>
</template>

<script>
import Page from "@/components/base-page.vue";
import Switch from "@/pages/user-profile/switch.vue";

export default {
  components: { Page, Switch },
  data: () => ({
    orders: {
      type: Array,
      default: [],
    },
  }),
  created() {
    this.orders = [
      {
        number: 13,
        date: "11.06.2021",
        total: "$5402",
        delivery: {
          address: {
            postalCode: "125080",
            city: "moscow",
            street: "svetly proezd",
            house: "21/3",
            apt: "4",
          },
          trackNum: "328981739331",
          operator: "dhl exress",
          price: "21$",
        },
        items: [
          {
            src: "/img/yellow-cardigan.png",
            art: "a porter cardigan",
            editionOf: 100,
            size: "l",
            price: "230$",
            number: 91,
          },
          {
            src: "/img/yellow-cardigan.png",
            art: "a porter cardigan",
            editionOf: 100,
            size: "l",
            price: "202$",
            number: 91,
          },
        ],
      },
      {
        number: 13,
        date: "11.06.2021",
        total: "$5402",
        delivery: {
          address: {
            postalCode: "125080",
            city: "moscow",
            street: "svetly proezd",
            house: "21/3",
            apt: "4",
          },
          trackNum: "328981739331",
          operator: "dhl exress",
          price: "21$",
        },
        items: [
          {
            src: "/img/yellow-cardigan.png",
            art: "a porter cardigan",
            editionOf: 100,
            size: "l",
            price: "202$",
            number: 91,
          },
        ],
      },
    ];
  },
};
</script>
