<template>
  <LinkSwitch
    :items="[
      {
        title: 'account',
        link: '/user-profile/account',
      },
      {
        title: 'orders',
        link: '/user-profile/orders',
      },
      {
        title: 'delivery',
        link: '/user-profile/delivery',
      },
    ]"
    :class="'mb-18 sm:mb-16 pr-24 sm:pr-0'"
  />
</template>

<script>
import LinkSwitch from "@/components/controls/link-switch.vue";

export default {
  name: "Switch",
  components: { LinkSwitch },
};
</script>
