<template>
  <p class="mb-7">
    By connecting your wallet, you agree to our
    <a class="underline" href="/service-terms">terms of service</a> and our
    <a class="underline" href="/privacy-policy">privacy policy</a>.
  </p>
  <BaseButton
    :title="'metamask'"
    :bg-color="buttonBgColor"
    :border-color="buttonBorderColor"
    :class="'mb-5'"
    @click="connect"
  />
</template>

<script>
import BaseButton from "@/components/controls/base-button.vue";

import { useChain } from "@samatech/vue3-eth";
import Eth from "web3-eth";
import Web3 from "web3";

const { connectWallet, onSetupProvider } = useChain({ ethChainId: "ropsten" });

export default {
  name: "MetamaskConnect",
  emits: ["access:needed", "connected", "signed"],
  components: { BaseButton },
  data: () => ({
    connecting: {
      type: Boolean,
      default: false,
    },
    eth: null,
  }),
  methods: {
    async connect() {
      this.connecting = true;
      this.eth = new Eth(Eth.givenProvider || "ws://localhost:8545");
      await this.eth.getAccounts(async (err, accounts) => {
        if (err != null) {
          console.error(`An error occurred: ${err}`);
        } else if (accounts.length === 0) {
          // подключаемся
          connectWallet("metamask").then(() => this.sign());
        } else {
          alert("You are already connected.");
        }
      });
      this.connecting = false;
    },
    // подписываемся
    async sign() {
      this.$emit("connected");
      await this.eth.getAccounts(async (err, accounts) => {
        const utils = Web3.utils;
        const msg = utils.sha3(utils.toHex("test1") + utils.randomHex(32), {
          encoding: "hex",
        });
        try {
          await this.eth.sign(msg, accounts[0]);
          this.$emit("signed");
        } catch (e) {
          this.$emit("access:needed");
          this.connecting = false;
        }
      });
    },
  },
  computed: {
    buttonBgColor() {
      return this.connecting === true ? "bg-black" : "bg-red-500";
    },
    buttonBorderColor() {
      return this.connecting === true ? "border-indigo-50" : "border-red-500";
    },
  },
  mounted() {
    onSetupProvider((signer) => {
      this.connecting = false;
    });
  },
};
</script>
