<template>
  <BaseButton
    :title="'wallet connect'"
    :border-color="buttonBorderColor"
    :bg-color="buttonBgColor"
    :class="'mb-5'"
    @click="connect"
  />
  <p>
    By connecting your wallet, you agree to our terms of service and our
    <a class="underline" href="/privacy-policy">privacy policy</a>.
  </p>
</template>

<script>
import BaseButton from "@/components/controls/base-button.vue";
import WalletConnectProvider from "@walletconnect/web3-provider";
import Web3 from "web3";

export default {
  name: "WalletConnect",
  components: { BaseButton },
  data: () => ({
    connecting: {
      type: Boolean,
      default: false,
    },
  }),
  methods: {
    async connect() {
      // Web3 Provider
      this.connecting = true;
      //  Create WalletConnect Provider
      const provider = new WalletConnectProvider({
        infuraId: import.meta.env.VITE_APP_INFURA_ID,
      });
      //  Enable session (triggers QR Code modal)
      await provider.enable();
      this.connecting = false;

      //  Create Web3 instance
      const web3 = new Web3(provider);
      // Subscribe to accounts change
      provider.on("accountsChanged", (accounts) => {
        console.log(accounts);
      });
      // Subscribe to chainId change
      provider.on("chainChanged", (chainId) => {
        console.log(chainId);
      });
      // Subscribe to session disconnection
      provider.on("disconnect", (code, reason) => {
        console.log(code, reason);
      });
    },
  },
  computed: {
    buttonBgColor() {
      return this.connecting === true ? "bg-black" : "bg-red-500";
    },
    buttonBorderColor() {
      return this.connecting === true ? "border-indigo-50" : "border-red-500";
    },
  },
};
</script>
