<template>
  <AuthForm :switchClass="'text-xl md:text-4.5xl mt-4 md:mt-0 text-red-500'" />
  <BaseCheckbox
    :label="
      'By creating an account, you accept our Terms and Conditions and confirm that\n' +
      'you have read our Privacy Policy.'
    "
    :class="'mt-2.5'"
  />
</template>

<script>
import AuthForm from "@/components/user/auth-form.vue";
import BaseCheckbox from "@/components/controls/base-checkbox.vue";

export default {
  components: { AuthForm, BaseCheckbox },
};
</script>
