<template>
  <img
    src="@/assets/img/spot-collection-1.png"
    class="fixed z-0 top-0 left-12 hidden md:block"
  />
  <img
    src="@/assets/img/spot-collection-2.png"
    class="fixed z-0 top-0 left-0 block md:hidden"
  />
  <Page :class="'absolute z-10 top-96 left-96 w-64 md:w-2/3'">
    <p
      v-if="period === 'summer-2022'"
      class="text-sm md:text-4xl md:leading-10"
    >
      <span class="text-red-500">knitted paintings, 2022</span> — The first
      KRASKA collection is a tribute to the Russian artist Vassily Kandinsky.
      Each item in the collection is a colorful abstract painting that is
      handcrafted into a form of a garment: sweaters and cardigans knitted from
      premium materials – merino and baby-alpaca wool. Each art-à-porter NFT in
      this collection comes with a physical item and a custom AR experience
      available on Instagram.
    </p>
  </Page>
  <img
    src="@/assets/img/corn-girl.png"
    class="fixed z-0 left-0 bottom-0 w-full md:hidden"
  />
</template>

<script>
import Page from "@/components/base-page.vue";

export default {
  components: { Page },
  data: () => ({
    period: {
      type: String,
      default: "",
    },
  }),
  created() {
    this.period = this.$route.params.period;
  },
};
</script>
