<template>
  <div class="pb-28">
    <img src="@/assets/img/spot-2.png" class="absolute z-0 top-0 left-0" />
    <Page :description="'contacts'" :class="'absolute z-10'">
      <ul class="text-xl md:text-4.5xl text-red-500 leading-tight">
        <li>
          <span class="text-white">Email</span>
          <a class="underline" href="mailto:info@kraska.uk">info@kraska.uk</a>
        </li>
        <li>
          <span class="text-white">WhatsApp</span>
          <a class="underline" href="https://wa.me/+447458197710">
            +447458197710
          </a>
        </li>
      </ul>
    </Page>
    <img src="@/assets/img/spot-1.png" class="absolute z-0 bottom-0 right-0" />
  </div>
</template>

<script>
import Page from "@/components/base-page.vue";

export default {
  components: { Page },
};
</script>
