<template>
  <Heading
    :class="'tracking-wide uppercase'"
    :color="'white'"
    :text="message"
  />
  <BaseButton
    :class="'mt-5'"
    :width="'w-125'"
    :title="'return to the collection'"
    :border-color="'border-red-500'"
    :bg-color="'bg-transparent'"
    :text-color="'text-red-500'"
    @click="back()"
  />
</template>

<script>
import Heading from "@/components/base-heading.vue";
import BaseButton from "@/components/controls/base-button.vue";
import navigation from "@/mixins/navigation.js";

const ERRORS = {
  400: "Bad Request",
  401: "Unauthorized",
  403: "Forbidden",
  404: "Page not found",
  422: "Unprocessable Entity",
};

export default {
  data: () => ({
    code: {
      type: Number,
      default: 404,
    },
  }),
  components: { Heading, BaseButton },
  mixins: [navigation],
  computed: {
    message() {
      return this.code + ". " + (ERRORS[this.code] || "unknown");
    },
  },
  created() {
    this.code = this.$route.params.code;
  },
};
</script>
