<template>
  <Page :title="'f.a.q'" :titleClass="'uppercase mb-2 md:mb-5'">
    <Details :items="topics" />
  </Page>
</template>

<script>
import Page from "@/components/base-page.vue";
import Details from "@/components/base-details.vue";

export default {
  components: { Page, Details },
  data: () => ({
    topics: [
      {
        summary: "Как не ошибиться с размером?",
        details:
          "Изучите таблицу измерений – в ней приведены цифры, которые позволят вам составить точное представление о длине и ширине вещи и ее отдельных деталей.",
      },
      {
        summary: "Как ухаживать за вещью?",
        details:
          "К каждому свитеру прилагается карточка, на которой  подробно описаны правила ухода. Наши изделия можно стирать только вручную при температуре не больше 30°C, без использования отбеливающих веществ. Сушите свитер на горизонтальной поверхности в расправленном виде. Гладить его можно при температуре не более 110°C.",
      },
      {
        summary: "Могу ли я вернуть покупку?",
        details:
          "Можете. Возврат осуществляется в течение 14 дней с момента приобретения вещи и при условии, что сохранены ее товарный вид и упаковка.",
      },
      {
        summary: "Как вернуть купленную вещь?",
        details:
          "Необходимо отправить письмо с информацией о том, что изделие вам не подошло, на электронный адрес  HYPERLINK 'mailto:customecare@kraska.uk'customecare@kraska.uk. Затем нужно заполнить форму (скачать), указав причину, по которой вы хотите вернуть товар. Положите форму вместе с товаром в оригинальную упаковку и отправьте ее той же службой, которая осуществляла доставку покупки. Как только мы получим посылку, мы сообщим об этом в электронном письме. В случае утери, кражи или повреждения посылки получатель не несет за это ответственности.",
      },
      {
        summary: "Как быстро я получу деньги в случае возврата?",
        details:
          "Срок поступления средств зависит от вашего банка. Мы возвращаем деньги в течение 10 рабочих дней.\n" +
          "В каких случаях мне могут отказать в возврате купленной вещи?\n" +
          "Мы проверяем вещь на соответствие критериям возврата и оставляем за собой право отказа в том случае, если она потеряла товарный вид.",
      },
      {
        summary:
          "В каких случаях мне могут отказать в возврате купленной вещи?",
        details:
          "Мы проверяем вещь на соответствие критериям возврата и оставляем за собой право отказа в том случае, если она потеряла товарный вид.",
      },
      {
        summary: "Могу ли я обменять один свитер на другой?",
        details:
          "Мы не производим обмен. Вы можете либо осуществить возврат, либо купить новую вещь.",
      },
      {
        summary: "Как будет упаковано изделие?",
        details:
          "Каждый свитер мы упаковываем в индивидуальную коробку, в которой вы также найдете сертификат подлинности и карточку с правилами ухода.",
      },
      {
        summary: "Как сделать покупку, если я живу в другой стране?",
        details:
          "Не имеет значения, где именно вы находитесь. Мы работаем с DHL, UPS и EMS, которые доставляют заказы по всему миру.",
      },
      {
        summary: "Сколько времени займет процесс обработки моего заказа?",
        details:
          "Мы обрабатываем заказы в течение 1-2 рабочих дней (за исключением государственных праздников). Как только вещь будет отправлена, вы получите подтверждение на электронную почту. В дни пиковой загрузки – во время запуска новых коллекций и в период рождественских праздников – время обработки заказов может быть увеличено.",
      },
      {
        summary: "Как осуществляется доставка и сколько это стоит?",
        details:
          "В России мы осуществляем доставку с помощью DHL Express и сервиса Сберлогистика. В странах СНГ работаем с DHL Express. В среднем сроки доставки варьируются от 2 до 6 рабочих дней. Стоимость доставки по России – 1000 рублей, в страны СНГ – 3000 рублей.",
      },
      {
        summary: "Для чего нужен серийный номер?",
        details:
          "Серийный номер указывает последовательный порядок, в котором была произведена вещь. Например, свитер под номером 1 в серии из 100 экземпляров будет обозначен номером 1/100. Нумерация делает вещь уникальной – это то, что отличает каждый невзаимозаменяемый токен от следующего. Вы можете сами выбрать номер своего свитера.",
      },
      {
        summary: "Что такое невзаимозаменяемый токен (NFT)?",
        details:
          "Это сертификат, свидетельствующий об уникальности цифрового объекта, которым является ваш свитер KRASKA. Токен подтверждает факт владения цифровым активом.",
      },
      {
        summary: "Как это работает на практике?",
        details:
          "Цифровой контент переносится в блокчейн – непрерывную систему компьютеров, неизменяемую и защищенную от несанкционированного доступа. Когда NFT создается в блокчейне, его можно отследить, чтобы проверить на подлинность, а также увидеть его прошлую историю и владельцев.",
      },
      {
        summary: "Зачем инвестировать в NFT?",
        details:
          "Становясь обладателем собственного токена, вы инвестируете в цифровой контент, стоимость которого увеличивается по мере роста криптовалюты. Вы можете продавать свои токены и зарабатывать на этом.",
      },
      {
        summary: "Как не ошибиться с размером?",
        details:
          "Изучите таблицу измерений – в ней приведены цифры, которые позволят вам составить точное представление о длине и ширине вещи и ее отдельных деталей.",
      },
      {
        summary: "Как ухаживать за вещью?",
        details:
          "К каждому свитеру прилагается карточка, на которой  подробно описаны правила ухода. Наши изделия можно стирать только вручную при температуре не больше 30°C, без использования отбеливающих веществ. Сушите свитер на горизонтальной поверхности в расправленном виде. Гладить его можно при температуре не более 110°C.",
      },
      {
        summary: "Могу ли я вернуть покупку?",
        details:
          "Можете. Возврат осуществляется в течение 14 дней с момента приобретения вещи и при условии, что сохранены ее товарный вид и упаковка.",
      },
      {
        summary: "Как вернуть купленную вещь?",
        details:
          "Необходимо отправить письмо с информацией о том, что изделие вам не подошло, на электронный адрес  HYPERLINK 'mailto:customecare@kraska.uk'customecare@kraska.uk. Затем нужно заполнить форму (скачать), указав причину, по которой вы хотите вернуть товар. Положите форму вместе с товаром в оригинальную упаковку и отправьте ее той же службой, которая осуществляла доставку покупки. Как только мы получим посылку, мы сообщим об этом в электронном письме. В случае утери, кражи или повреждения посылки получатель не несет за это ответственности.",
      },
      {
        summary: "Как быстро я получу деньги в случае возврата?",
        details:
          "Срок поступления средств зависит от вашего банка. Мы возвращаем деньги в течение 10 рабочих дней.\n" +
          "В каких случаях мне могут отказать в возврате купленной вещи?\n" +
          "Мы проверяем вещь на соответствие критериям возврата и оставляем за собой право отказа в том случае, если она потеряла товарный вид.",
      },
      {
        summary:
          "В каких случаях мне могут отказать в возврате купленной вещи?",
        details:
          "Мы проверяем вещь на соответствие критериям возврата и оставляем за собой право отказа в том случае, если она потеряла товарный вид.",
      },
      {
        summary: "Могу ли я обменять один свитер на другой?",
        details:
          "Мы не производим обмен. Вы можете либо осуществить возврат, либо купить новую вещь.",
      },
      {
        summary: "Как будет упаковано изделие?",
        details:
          "Каждый свитер мы упаковываем в индивидуальную коробку, в которой вы также найдете сертификат подлинности и карточку с правилами ухода.",
      },
      {
        summary: "Как сделать покупку, если я живу в другой стране?",
        details:
          "Не имеет значения, где именно вы находитесь. Мы работаем с DHL, UPS и EMS, которые доставляют заказы по всему миру.",
      },
      {
        summary: "Сколько времени займет процесс обработки моего заказа?",
        details:
          "Мы обрабатываем заказы в течение 1-2 рабочих дней (за исключением государственных праздников). Как только вещь будет отправлена, вы получите подтверждение на электронную почту. В дни пиковой загрузки – во время запуска новых коллекций и в период рождественских праздников – время обработки заказов может быть увеличено.",
      },
      {
        summary: "Как осуществляется доставка и сколько это стоит?",
        details:
          "В России мы осуществляем доставку с помощью DHL Express и сервиса Сберлогистика. В странах СНГ работаем с DHL Express. В среднем сроки доставки варьируются от 2 до 6 рабочих дней. Стоимость доставки по России – 1000 рублей, в страны СНГ – 3000 рублей.",
      },
      {
        summary: "Для чего нужен серийный номер?",
        details:
          "Серийный номер указывает последовательный порядок, в котором была произведена вещь. Например, свитер под номером 1 в серии из 100 экземпляров будет обозначен номером 1/100. Нумерация делает вещь уникальной – это то, что отличает каждый невзаимозаменяемый токен от следующего. Вы можете сами выбрать номер своего свитера.",
      },
      {
        summary: "Что такое невзаимозаменяемый токен (NFT)?",
        details:
          "Это сертификат, свидетельствующий об уникальности цифрового объекта, которым является ваш свитер KRASKA. Токен подтверждает факт владения цифровым активом.",
      },
      {
        summary: "Как это работает на практике?",
        details:
          "Цифровой контент переносится в блокчейн – непрерывную систему компьютеров, неизменяемую и защищенную от несанкционированного доступа. Когда NFT создается в блокчейне, его можно отследить, чтобы проверить на подлинность, а также увидеть его прошлую историю и владельцев.",
      },
      {
        summary: "Зачем инвестировать в NFT?",
        details:
          "Становясь обладателем собственного токена, вы инвестируете в цифровой контент, стоимость которого увеличивается по мере роста криптовалюты. Вы можете продавать свои токены и зарабатывать на этом.",
      },
    ],
  }),
};
</script>
