<template>
  <LangSwitch :class="'text-white absolute left-4 sm:left-14 top-6 sm:top-2'" />

  <img src="@/assets/img/kraska-big.svg" />
  <BaseLink
    class="mt-8"
    :title="'explore the collection'"
    :bg-color="'bg-transparent'"
    :border-color="'border-red-500'"
    :text-color="'text-red-500'"
    :href="'/collection'"
  />

  <!-- cookie notification -->
  <div
    v-if="showCookieNotification"
    class="flex flex-col bg-black lg:flex-row lg:items-center space-y-7 lg:space-y-0 lg:space-x-12 xl:space-x-20 px-7 lg:px-5 pt-6 lg:pt-5 pb-7 lg:pb-6 border-t border-white absolute bottom-0 left-0 lg:left-5 right-0 text-white uppercase"
  >
    <p class="text-xs">
      This website uses cookies. They improve your navigation and the quality of
      our site. By navigating, you accept the placement and use of cookies as
      described in our privacy policy.
    </p>
    <div class="lg:min-w-100 xl:min-w-124 flex flex-row flex-nowrap space-x-5">
      <BlackButton @click="saveCookieUsage(true)"> agree</BlackButton>
      <BlackButton @click="saveCookieUsage(false)"> disagree</BlackButton>
    </div>
  </div>
</template>

<script>
import BaseLink from "@/components/controls/base-link.vue";
import BlackButton from "../components/controls/black-button.vue";
import LangSwitch from "@/components/controls/lang-switch.vue";

export default {
  components: { BlackButton, BaseLink, LangSwitch },
  data: () => ({
    showCookieNotification: true,
  }),
  methods: {
    explore() {},
    saveCookieUsage(use) {
      if (use) {
        document.cookie = "use-cookies=true; SameSite=Lax;";
      }
      this.showCookieNotification = false;
    },
    getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(";");
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) === " ") {
          c = c.substring(1);
        }
        if (c.indexOf(name) === 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    },
  },
  mounted() {
    if (this.getCookie("use-cookies") !== undefined) {
      this.showCookieNotification = false;
    }
  },
};
</script>
