<template>
  <Popup :show="popup" @close="popup = false">
    <div class="uppercase">
      <p class="text-red-500">something is about to appear.</p>
      <p class="text-white">
        sign up to our newsletter. be the first one to know about the collection
        drop.
      </p>
    </div>
    <form class="mt-8 sm:mt-10">
      <BaseInput
        :model="email"
        :label="'enter your email'"
        :error="this.errors.email"
        @update:model="this.updateForm('email', $event)"
      />
      <RedButton
        :title="'sign up to the newsletter'"
        :width="'w-full'"
        class="mt-2 sm:mt-5"
        @click="signUp"
      />
    </form>
  </Popup>
</template>

<script>
import Popup from "@/components/base-popup.vue";
import BaseInput from "@/components/controls/base-input.vue";
import RedButton from "../components/controls/red-button.vue";
import { required, maxLength } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";
import validation from "@/mixins/validation.js";

export default {
  components: { Popup, BaseInput, RedButton },
  data: () => ({
    email: "",
    popup: {
      type: Boolean,
      default: true,
    },
  }),
  methods: {
    signUp() {
      if (this.checkForm()) {
        alert("");
      }
    },
  },
  mixins: [validation],
  setup: () => ({ v$: useVuelidate() }),
  validations: {
    email: {
      required,
      maxLength: maxLength(128),
    },
  },
};
</script>
