<template>
  <Page :title="'Privacy policy'" :description="'Our privacy policy'" />
</template>

<script>
import Page from "@/components/base-page.vue";

export default {
  components: { Page },
};
</script>
