<template>
  <Page :title="'Terms of service'" :description="'Our terms of service'" />
</template>

<script>
import Page from "@/components/base-page.vue";

export default {
  components: { Page },
};
</script>
