<template>
  <div class="relative flex flex-col justify-center items-center">
    <select
      :class="cssClass"
      class="custom-select tracking-widest leading-normal"
      v-model="localModel"
      @change="$emit('update:model', localModel)"
    >
      <option value="">{{ label }}</option>
      <option
        v-for="(option, i) in options"
        :key="i"
        :value="option.value || i"
        :class="
          'uppercase ' + (localModel === option.value ? 'text-green-500' : '')
        "
      >
        {{ option.text || option }}
      </option>
    </select>
    <div
      class="flex flex-col justify-center items-center absolute right-3 z-10 bg-black w-3 h-3 pointer-events-none"
    >
      <Arrow :rotate="180" />
    </div>
    <ErrorMessage :error="error" />
  </div>
</template>

<script>
import controls from "@/mixins/controls.js";
import Arrow from "@/components/svg/base-arrow.vue";
import ErrorMessage from "@/components/controls/error-message.vue";

export default {
  name: "BaseSelect",
  components: { Arrow, ErrorMessage },
  props: {
    width: {
      type: String,
      default: "w-full",
    },
    model: {
      type: [String, Boolean, Number],
      default: null,
    },
    options: {
      type: Array,
      default: () => [],
    },
    bgColor: {
      type: String,
      default: "bg-black",
    },
    borderColor: {
      type: String,
      default: "border-white",
    },
    textColor: {
      type: String,
      default: "text-white",
    },
    label: {
      type: String,
      default: null,
    },
    // validation
    error: {
      type: String,
      default: null,
    },
  },
  data: () => ({
    localModel: {
      type: String,
      default: "",
    },
  }),
  mixins: [controls],
  created() {
    this.localModel = this.model;
  },
};
</script>
