<template>
  <div class="relative">
    <input
      class="absolute w-auto opacity-0 left-0"
      type="checkbox"
      :name="name"
      :value="value"
      :id="inputId"
    />
    <label
      :for="inputId"
      class="flex items-center pl-8 font-normal cursor-pointer text-white text-xxs sm:text-xs"
      :class="cssClass"
    >
      {{ label }}
    </label>
  </div>
</template>

<script>
export default {
  name: "BaseCheckbox",
  props: {
    name: {
      type: String,
      default: "",
    },
    value: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    class: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    inputId: "",
  }),
  computed: {
    cssClass() {
      return " " + this.class;
    },
  },
  created() {
    this.inputId = "checkbox-input-" + Math.random();
  },
};
</script>

<style scoped>
label:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  background: #000;
  border: 2px solid rgba(110, 231, 183, 1);
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
}

input[type="checkbox"]:checked ~ label:after {
  border-bottom: 2px solid rgba(110, 231, 183, 1);
  border-left: 2px solid rgba(110, 231, 183, 1);
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 6px;
  left: 5px;
  transform: rotate(-45deg) scale(1);
}
</style>
