<template>
  <div class="border border-green-300 p-2">
    <input
      class="absolute w-auto opacity-0 left-0"
      type="radio"
      :name="name"
      :value="value"
      @change="$emit('update', localValue)"
      :id="inputId"
    />
    <label
      :for="inputId"
      class="flex items-center relative block font-normal cursor-pointer text-green-300 text-xs"
      :class="cssClass"
    >
      {{ label }}
    </label>
  </div>
</template>

<script>
export default {
  name: "BaseRadio",
  props: {
    name: {
      type: String,
      default: "",
    },
    value: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: "",
    },
    class: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    localValue: "",
    inputId: "",
  }),
  computed: {
    cssClass() {
      return " " + this.class;
    },
  },
  created() {
    this.inputId = "checkbox-input-" + Math.random();
    this.localValue = this.value;
  },
};
</script>

<style scoped>
label:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  right: 0;
  margin-left: 12px;
  background: #000;
  border: 1.2px solid rgba(110, 231, 183, 1);
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
}

input[type="radio"]:checked ~ label:after {
  background: rgba(110, 231, 183, 1);
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: 5px;
  right: 4px;
}
</style>
