<template>
  <div
    class="relative flex flex-col justify-center items-center"
    :class="wrapperCssClass"
  >
    <label
      v-if="showLabel"
      :class="`absolute left-4 z-10 w-full uppercase text-xxs sm:text-xs ${textColor}`"
      @click="hideLabel"
    >
      {{ label }}
    </label>
    <input
      :type="type"
      v-model="localModel"
      class="absolute left-0 z-1 uppercase"
      :class="cssClass"
      @click="hideLabel"
      @blur="blur"
      @change="$emit('update:model', localModel)"
      :ref="inputId"
    />
    <ErrorMessage :error="error" />
  </div>
</template>

<script>
import controls from "@/mixins/controls.js";
import ErrorMessage from "@/components/controls/error-message.vue";

export default {
  name: "BaseInput",
  components: { ErrorMessage },
  props: {
    type: {
      type: String,
      default: "input",
    },
    model: {
      type: [String, Boolean, Number],
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    bgColor: {
      type: String,
      default: "bg-black",
    },
    padding: {
      type: Number,
      default: 5,
    },
    margin: {
      type: Number,
      default: 5,
    },
    wrapperClass: {
      type: String,
      default: "",
    },
    width: {
      type: String,
      default: "w-full",
    },
    // validation
    error: {
      type: String,
      default: null,
    },
  },
  data: () => ({
    localModel: "",
    showLabel: true,
    inputId: "",
  }),
  mixins: [controls],
  methods: {
    blur() {
      if (this.localModel === "") {
        this.showLabel = true;
      }
    },
    hideLabel() {
      this.showLabel = false;
      this.$refs[this.inputId].focus();
    },
  },
  computed: {
    borderColor() {
      return this.error === null
        ? "border-white"
        : this.error === ""
        ? "border-green-300"
        : "border-red-500";
    },
    textColor() {
      return this.error === null
        ? "text-white"
        : this.error === ""
        ? "text-green-300"
        : "text-red-500";
    },
    widthClass() {
      return "w-full";
    },
    wrapperCssClass() {
      return (
        ` ${this.width} ${this.height} ` +
        (this.wrapperClass ? this.wrapperClass : "")
      );
    },
  },
  created() {
    this.inputId = "input-" + Math.random();
    this.localModel = this.model;
    this.showLabel = !this.localModel;
  },
};
</script>
