<template>
  <div class="flex flex-col justify-center items-center" :class="width">
    <button
      :type="type"
      class="uppercase tracking-widest"
      :class="cssClass"
      @focus="focus"
      @blur="blur"
      @mouseover="mouseover"
      @mouseleave="mouseleave"
      @click="click"
    >
      {{ title }}
      <slot />
    </button>
    <!-- TODO: убрать отсюда -->
    <div class="mt-1 text-xs text-red-500 uppercase" v-if="errorSummary">
      {{ errorSummary }}
    </div>
  </div>
</template>

<script>
import controls from "@/mixins/controls.js";

export default {
  name: "BaseButton",
  props: {
    type: {
      type: String,
      default: "button",
    },
    borderColor: {
      type: String,
      default: "",
    },
    textColor: {
      type: String,
      default: "text-white",
    },
    width: {
      type: String,
      default: "w-full",
    },
    errorSummary: {
      type: String,
      default: "",
    },
  },
  mixins: [controls],
  methods: {
    getBgClass() {
      return this.buttonActive
        ? "bg-black"
        : this.buttonHover
        ? "bg-black"
        : this.buttonFocus
        ? "bg-indigo-50"
        : this.bgColor;
    },
    getTextClass() {
      return this.buttonActive
        ? "text-white"
        : this.buttonHover
        ? "text-red-500"
        : this.buttonFocus
        ? "text-red-500"
        : this.textColor;
    },
    getBorderClass() {
      return this.buttonActive
        ? "border-white"
        : this.buttonHover
        ? "border-red-500"
        : this.buttonFocus
        ? "border-red-500"
        : this.borderColor;
    },
  },
};
</script>
