<template>
  <a
    class="h-12 uppercase tracking-widest block no-underline text-center pt-4"
    :class="cssClass"
    @focus="focus"
    @blur="blur"
    @mouseover="mouseover"
    @mouseleave="mouseleave"
    @click="click"
    :href="href"
  >
    {{ title }}
  </a>
</template>

<script>
import controls from "@/mixins/controls.js";

export default {
  name: "BaseLink",
  props: {
    href: {
      type: String,
      default: "",
    },
    borderColor: {
      type: String,
      default: "",
    },
    textColor: {
      type: String,
      default: "",
    },
    width: {
      type: String,
      default: "w-full sm:w-125",
    },
  },
  methods: {
    getBgClass() {
      return this.buttonActive
        ? "bg-black"
        : this.buttonHover
        ? "bg-red-500"
        : this.buttonFocus
        ? "bg-indigo-50"
        : this.bgColor;
    },
    getTextClass() {
      return this.buttonActive
        ? "text-white"
        : this.buttonHover
        ? "text-white"
        : this.buttonFocus
        ? "text-red-500"
        : this.textColor;
    },
    getBorderClass() {
      return this.buttonActive
        ? "border-white"
        : this.buttonHover
        ? "border-red-500"
        : this.buttonFocus
        ? "border-red-500"
        : this.borderColor;
    },
  },
  mixins: [controls],
};
</script>
