<template>
  <div
    v-if="error"
    class="absolute left-0 top-12 z-1 text-xs text-red-500 uppercase"
  >
    {{ error }}
  </div>
</template>

<script>
export default {
  name: "ErrorMessage",
  props: {
    error: {
      type: String,
      default: null,
    },
  },
};
</script>
