<template>
  <ul class="text-white flex text-xs mt-8" :class="cssClass">
    <li class="inline-flex">
      <button
        type="button"
        class="focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-red"
        :class="getButtonCssClass('en')"
        @click="switchLang('en')"
      >
        ENG
      </button>
    </li>
    <li class="inline-flex before:content-['/'] before:mx-1.5">
      <button
        type="button"
        class="focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-red"
        :class="getButtonCssClass('ru')"
        @click="switchLang('ru')"
      >
        RUS
      </button>
    </li>
  </ul>
</template>

<script>
export default {
  name: "LangSwitch",
  props: {
    textSize: {
      type: String,
      default: "xs",
    },
    class: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    lang: {
      type: String,
      default: "en",
    },
  }),
  computed: {
    isEng() {
      return this.lang === "en";
    },
    cssClass() {
      return " " + this.class;
    },
  },
  methods: {
    getButtonCssClass(lang) {
      let cssClass = `text-white cursor-pointer uppercase text-${this.textSize} `;
      if (lang === "en") {
        return cssClass + (this.isEng ? "underline" : "");
      }
      return cssClass + (this.isEng ? "" : "underline");
    },
    switchLang(lang) {
      this.lang = lang;
    },
  },
};
</script>
