<template>
  <ul
    class="leading-7 sm:leading-10 text-1.5xl sm:text-4.5xl text-red-500 tracking-tight h-8"
    :class="cssClass"
  >
    <li v-for="(item, i) in items" :key="i">
      <a
        :href="item.link"
        type="button"
        class="uppercase"
        :class="$route.path === item.link ? 'underline text-white' : ''"
      >
        {{ item.title }}
      </a>
    </li>
  </ul>
</template>

<script>
export default {
  name: "PageSwitch",
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    class: {
      type: String,
      default: "mb-10",
    },
  },
  computed: {
    cssClass() {
      return this.class;
    },
  },
};
</script>

<style scoped>
li {
  display: inline;
}

li + li::before {
  content: " / ";
}
</style>
