<template>
  <BaseButton
    :type="type"
    :title="title"
    :border-color="'border-red-500'"
    :bg-color="'bg-red-500'"
    :class="cssClass"
    :width="width"
    @click="$emit('click')"
  >
    <slot />
  </BaseButton>
</template>

<script>
import BaseButton from "@/components/controls/base-button.vue";

export default {
  name: "RedButton",
  components: { BaseButton },
  props: {
    type: {
      type: String,
      default: "button",
    },
    title: {
      type: String,
      default: "",
    },
    class: {
      type: String,
      default: "",
    },
    width: {
      type: String,
      default: "w-full",
    },
  },
  computed: {
    cssClass() {
      return this.class;
    },
  },
};
</script>
