<template>
  <ul class="uppercase space-y-3 md:space-y-5">
    <li v-for="(item, i) in items" :key="i">
      <details class="inline-flex open:mb-3">
        <summary
          class="inline-block text-sm md:text-lg list-none select-none after:content-[''] after:bg-[url('img/arrow-v.svg')] after:w-2 after:h-2.5 after:bg-no-repeat after:bg-cover after:inline-flex after:ml-1.5 focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black"
          :class="item.opened ? 'after:rotate-180' : ''"
          @click="item.opened = !item.opened"
        >
          {{ item.summary }}
        </summary>
        <p class="mt-4">
          {{ item.details }}
        </p>
      </details>
    </li>
  </ul>
</template>

<script>
export default {
  name: "Details",
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style scoped>
p + p {
  margin-top: 1rem;
}
</style>
