<template>
  <div :class="cssClass">
    <Heading v-if="title" :class="titleClass" :text="title" />
    <div class="text-xs text-white pt-3">
      <slot />
    </div>
  </div>
</template>

<script>
import Heading from "@/components/base-heading.vue";
import pageSetup from "@/mixins/page-setup.js";

export default {
  name: "Page",
  components: { Heading },
  props: {
    title: {
      type: String,
      default: "",
    },
    titleClass: {
      type: String,
      default: "",
    },
    class: {
      type: String,
      default: "",
    },
    description: {
      type: String,
      default: "",
    },
  },
  mixins: [pageSetup],
  computed: {
    cssClass() {
      return " " + this.class;
    },
  },
};
</script>
