<template>
  <h1
    class="text-xl leading-5 sm:text-4.5xl sm:leading-10 uppercase"
    :class="textClass + cssClass"
    v-html="text"
  />
</template>

<script>
export default {
  name: "Heading",
  props: {
    text: {
      type: String,
      default: "",
    },
    color: {
      type: String,
      default: "red",
    },
    class: {
      type: String,
      default: "",
    },
  },
  methods: {
    getColorClass(pref, prop) {
      pref += "-";
      const colors = {
        red: "red-500",
        black: "black",
        white: "white",
        transparent: "opacity-0",
      };
      if (colors[prop] !== undefined) {
        return pref + colors[prop];
      }
      return pref + "red-500";
    },
  },
  computed: {
    cssClass() {
      return " " + this.class;
    },
    textClass() {
      return " " + this.getColorClass("text", this.color);
    },
  },
};
</script>
