<template>
  <div
    class="overlay fixed top-0 bottom-0 left-0 right-0 bg-black bg-opacity-70 transition-opacity"
    :class="show ? '' : 'hidden bg-opacity-0'"
  >
    <div
      class="popup relative w-11/12 sm:w-200 border border-indigo-50 bg-black text-xl sm:text-4.5xl sm:leading-10 mx-auto mt-40 sm:mt-44 md:mt-60 px-4 sm:px-5 pt-2 pb-4"
      v-if="show"
    >
      <Cross class="absolute right-2" @click="$emit('close')" />
      <slot />
    </div>
  </div>
</template>

<script>
import Cross from "@/components/svg/base-cross.vue";

export default {
  name: "Popup",
  components: { Cross },
  props: {
    show: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style>
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  transition: all 1s ease-in-out;
}
</style>
