<template>
  <div class="flex flex-col justify-center">
    <div class="flex flex-row justify-center">
      <button type="button" @click="switchLeft">
        <Arrow :rotate="-90" :scale="2" :color="'white'" />
      </button>
      <img
        v-for="(image, i) in filtered"
        :key="i"
        :src="image.path"
        :alt="image.name"
      />
      <button type="button" @click="switchRight" class="mr-2">
        <Arrow :rotate="90" :scale="2" :color="'white'" />
      </button>
    </div>
    <div class="flex flex-row justify-center space-x-1 -mt-11">
      <div
        v-for="(image, i) in images"
        :key="i"
        class="w-2.5 h-2.5 border border-red-500"
        :class="i === current ? 'bg-red-500' : ''"
      />
    </div>
  </div>
</template>

<script>
import Arrow from "@/components/svg/base-arrow.vue";

export default {
  name: "Gallery",
  components: { Arrow },
  props: {
    images: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    current: 0,
  }),
  methods: {
    switchRight() {
      if (++this.current > this.images.length - 1) {
        this.current = 0;
      }
    },
    switchLeft() {
      if (--this.current < 0) {
        this.current = this.images.length - 1;
      }
    },
  },
  computed: {
    filtered: function () {
      return this.images.filter((img, j) => j === this.current);
    },
  },
};
</script>
