<template>
  <div
    class="flex flex-auto flex-col md:flex-row justify-between space-x-0 md:space-x-5 space-y-4 md:space-y-0"
  >
    <slot />
  </div>
</template>

<script>
export default {
  name: "InputBag",
};
</script>
