<template>
  <layout>
    <router-view />
  </layout>
  <component :is="'script'" type="application/ld+json" v-html="jsonld" />
</template>

<script>
import Layout from "./layouts/layout.vue";

export default {
  name: "App",
  components: {
    Layout,
  },
  computed: {
    jsonld() {
      return JSON.stringify(this.$store.state.jsonld);
    },
  },
};
</script>
