@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .wm-v {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    .vertical-text-bt {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
    }
    .vertical-text-tb {
        writing-mode: vertical-lr;
        text-orientation: mixed;
    }

    /*scrollbars*/

    /* W3C standard сейчас только для Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #EEF4F5 black;
    }

    /* для Chrome / Edge / Safari */
    *::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
    *::-webkit-scrollbar-track {
        background: black;

    }
    *::-webkit-scrollbar-thumb {
        background-color: #EEF4F5;
        border-radius: 5px;
        border: 3px solid black;
    }
    *::-webkit-scrollbar-track-piece:end {
        background: transparent;
        margin-bottom: 10px;
    }
    *::-webkit-scrollbar-track-piece:start {
        background: transparent;
        margin-top: 10px;
    }

    @font-face {
        font-family: "Formular";
        src: local("Formular"), url(assets/fonts/Formular.ttf) format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Fugue";
        src: local("Fugue"), url(assets/fonts/Fugue.ttf) format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Rodchenko";
        src: local("Rodchenko"), url(./assets/fonts/Rodchenko.ttf) format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Rodchenko-Light";
        src: local("Rodchenko-Light"),
        url(./assets/fonts/Rodchenko-Light.ttf) format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Rodchenko-Regular";
        src: local("Rodchenko-Regular"),
        url(./assets/fonts/Rodchenko-Regular.ttf) format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "RodchenkoCond-Light";
        src: local("RodchenkoCond-Light"),
        url(./assets/fonts/RodchenkoCond-Light.ttf) format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "RodchenkoCond-Regular";
        src: local("RodchenkoCond-Regular"),
        url(./assets/fonts/RodchenkoCond-Regular.ttf) format("truetype");
        font-display: swap;
    }
}

