<template>
  <div
    class="hidden lg:flex lg:flex-col bg-black text-white lg:fixed lg:top-0 lg:left-0 lg:bottom-0 lg:w-5 z-10 border-r border-red box-content"
  >
    <button
      type="button"
      class="w-5 h-5 flex items-center justify-center bg-red-500 shrink-0 hover:bg-white focus:outline-none focus-visible:bg-white"
      @click="back()"
    >
      <Arrow :rotate="-90" :color="'black'" />
    </button>
    <div class="flex flex-col justify-between w-5 h-screen pt-7 pb-4">
      <ul
        class="text-red-500 wm-v flex mt-3 mb-3 whitespace-nowrap uppercase flex items-center text-xs"
      >
        <li
          v-for="(breadcrumb, i) in breadcrumbs"
          :key="i"
          :class="i > 0 ? 'inline-flex items-center' : ''"
        >
          <a
            class="hover:text-white focus:outline-none focus-visible:underline focus-visible:decoration-white flex flex-row items-center"
            v-if="i < breadcrumbs.length - 1"
            :href="breadcrumb.link"
          >
            {{ breadcrumb.title }}
            <Arrow :rotate="180" :class="'my-2'" :color="'red'" />
          </a>
          <span v-else>{{ breadcrumb.title }}</span>
        </li>
      </ul>
      <div class="flex flex-col-reverse items-center text-red-500 mt-auto mb-4">
        <img src="@/assets/img/kraska-vert.svg" class="w-3 ml-1" />
        <span class="text-xs rotate-[-90deg] my-1">&copy;</span>
        <span class="wm-v text-xs">2022</span>
      </div>
    </div>
  </div>
</template>

<script>
import Arrow from "@/components/svg/base-arrow.vue";
import navigation from "@/mixins/navigation.js";

export default {
  name: "Breadcrumbs",
  components: { Arrow },
  mixins: [navigation],
  computed: {
    breadcrumbs() {
      let breadcrumbs = this.$store.state.breadcrumbs;
      const pageTitle = this.$route.name;
      if (pageTitle !== undefined) {
        breadcrumbs.push({ title: pageTitle });
      }
      return breadcrumbs;
    },
  },
};
</script>
