<template>
  <component :is="'script'" type="application/json" src="/animation/a.js" />
  <div class="flex flex-col lg:flex-row">
    <Breadcrumbs />
    <main
      class="grow flex flex-col min-h-screen text-white relative lg:pl-5 mt-8 lg:mt-0 uppercase"
      :class="justify"
    >
      <div
        class="w-full"
        :class="
          $route.meta.layout === 'full-screen'
            ? 'flex flex-col lg:flex-row lg:grow pt-8 lg:pt-0'
            : 'lg:w-1/2 xl:w-2/5 2xl:w-5/12 max-w-xl self-center px-7 lg:px-0 pb-4 pt-14 lg:pt-10'
        "
      >
        <router-view />
      </div>
      <canvas class="absolute inset-0 w-full h-full -z-[1]" />
    </main>
    <Menu />
  </div>
</template>

<script>
import Breadcrumbs from "@/layouts/base-breadcrumbs.vue";
import Menu from "@/layouts/main-menu.vue";
import layout from "@/mixins/layout.js";

export default {
  components: { Menu, Breadcrumbs },
  mixins: [layout],
  mounted() {
    if (this.$route.meta.animation) {
      let script = document.createElement("script");
      script.setAttribute("src", "/animation/script.js");
      document.body.appendChild(script);
    }
  },
};
</script>
