<template>
  <header
    class="header lg:order-last bg-red-500 z-20 fixed top-0 left-0 right-0 lg:static"
  >
    <div
      class="lg:sticky lg:top-0 lg:h-screen lg:flex lg:flex-row group overflow-x-hidden"
    >
      <div
        class="hidden lg:flex lg:flex-col lg:items-center lg:w-5 lg:group-hover:w-0 lg:group-focus-within:w-0 lg:overflow-hidden lg:transition-all lg:duration-200 lg:pt-1.5"
      >
        <button
          type="button"
          class="lg:group-focus:outline-none lg:group-focus-within:invisible"
        >
          <Arrow :rotate="-90" />
        </button>
        <span class="text-xs wm-v text-white my-2">MENU</span>
        <span
          class="text-red-500 bg-white w-4 h-4 flex items-center justify-center text-xs rounded-full"
        >
          2
        </span>
      </div>
      <div
        class="relative w-full lg:w-0 lg:group-hover:w-40 lg:group-focus-within:w-40 transition-all duration-200 lg:flex lg:flex-col"
      >
        <div
          class="h-8 px-2.5 lg:px-5 lg:pt-4 lg:mb-3 flex items-center justify-between"
        >
          <!-- если это главная -->
          <img
            src="@/assets/img/kraska-white.svg"
            class="md:h-4"
            alt="Kraska"
          />
          <!-- если это не главная
          <a href="/">
          <img src="@/assets/img/kraska-white.svg" class="md:h-4" alt="Kraska" />
          </a>
          -->
          <button
            class="flex flex-col w-4 h-2.5 relative before:content-[''] before:block before:absolute before:top-0 before:left-0 before:right-0 before:h-0.5 before:bg-white after:content-[''] after:block after:absolute after:bottom-0 after:left-0 after:right-0 after:h-0.5 after:bg-white transition-transform lg:hidden"
            type="button"
            @click="toggle"
          />
        </div>
        <div
          class="hidden px-8 lg:px-5 pt-5 lg:pt-1 pb-6 md:pb-8 border-t lg:border-t-0 border-white lg:grow lg:flex lg:flex-col max-h-mmenu lg:max-h-initial overflow-y-auto"
          id="mobile-menu"
        >
          <nav>
            <ul class="text-white uppercase text-xs space-y-4 lg:mb-4">
              <li v-for="(item, i) in $store.state.menuItems" :key="item">
                <template v-if="item.siblings">
                  <button
                    class="uppercase hover:underline focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-red"
                    type="button"
                    @click="toggleSubMenu(i)"
                  >
                    {{ item.title }}
                    <Arrow
                      :class="'inline -mt-1'"
                      :rotate="isSubMenuClosed(i) ? 180 : 0"
                      @click="toggleSubMenu(i)"
                    />
                  </button>
                  <ul class="mt-4 ml-4 space-y-4" v-show="!isSubMenuClosed(i)">
                    <li v-for="sibling in item.siblings" :key="sibling">
                      <a
                        class="hover:underline focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-red"
                        :href="sibling.link"
                      >
                        {{ sibling.title }}
                      </a>
                      &nbsp;
                    </li>
                  </ul>
                </template>
                <a
                  v-else
                  class="hover:underline focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-red"
                  :href="item.link"
                >
                  {{ item.title }}
                </a>
              </li>
            </ul>
          </nav>
          <ul
            class="text-white uppercase text-xs space-y-4 mt-6 md:mt-0 lg:mt-auto md:absolute lg:static md:right-8 md:bottom-8"
          >
            <li>
              <a
                class="hover:underline focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-red"
                href="#"
                >Instagram</a
              >
            </li>
            <li>
              <a
                class="hover:underline focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-red"
                href="#"
                >Facebook</a
              >
            </li>
            <li>
              <a
                class="hover:underline focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-red"
                href="#"
                >Twitter</a
              >
            </li>
            <li>
              <a
                class="hover:underline focus:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-red"
                href="#"
                >Discord</a
              >
            </li>
          </ul>
          <LangSwitch :textSize="'sm'" />
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import Arrow from "@/components/svg/base-arrow.vue";
import LangSwitch from "@/components/controls/lang-switch.vue";

export default {
  name: "Menu",
  components: { Arrow, LangSwitch },
  data: () => ({
    closed: {
      type: Boolean,
      default: true,
    },
    menuUp: {
      type: Boolean,
      default: true,
    },
    subMenuOpened: {
      type: Object,
      default: {},
    },
  }),
  methods: {
    close() {
      setTimeout(() => {
        if (!this.menuUp) {
          this.closed = true;
        }
      }, 1);
    },
    isSubMenuClosed(i) {
      return !this.subMenuOpened[i];
    },
    toggleSubMenu(i) {
      this.subMenuOpened[i] = !this.subMenuOpened[i];
    },
  },
};
</script>
